node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/generated/tsx-examples/
src/lib/generated/tsx-examples/
src/lib/generated/llms/

# Playwright
playwright-report/
test-results/
